.kdb-cludo {
  max-width: 1124px;
  margin: auto;
}

.kdb-cludo .kdb-cludo__content {
  max-width: 100%;
}

.kdb-cludo.kdb-cludo--narrow {
  max-width: 812px;
}

.kdb-cludo__form {
  padding: 0 16px;
  box-sizing: border-box;
}
