{% extends '@kdb_cludo/kdb-cludo-search-page.html.twig' %}

{% block filters %}
  <div class="cludo-search-results__facets search-filters cludo-search-controls" aria-controls="search-results">
  </div>
{% endblock %}
