{% set classes = ['content-list', 'kdb-cludo'] %}

<div{{ attributes.addClass(classes) }}>
  <div class="rich-text kdb-cludo__content">
    {{ content|without('form') }}
  </div>

  <div class="kdb-cludo__form">
    {{ content.form }}
  </div>
</div>
